[Desktop Entry]
Version=1.0
Type=Application
Name=ArchManagement
Comment=Launch in Kitty terminal
Exec=kitty -e bash -c "bash ~/.config/scripts/tui-main"
Icon=~/.config/scripts/ArchManagement.png
Terminal=false
Categories=Utility;
